body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
nav {
  padding: 30px;
  margin-bottom: 60px;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}

p {
	 font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

header {
	 text-align: center;
}

.main {
	height: 600px;
	width: 100%;
	 background-image: url('images/mountains.jpeg');
	 background-repeat: no-repeat;
	  background-size: auto; 
	  background-position: center;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  
	  
}
.contentbox {
	background-color: rgba(150,150,150,.5);
	width: 50%;
	min-width: 360px;
	max-width: 900px;
	border: 1px solid black;
    text-align: center
	
	
}
.aside {
	width: 100%;
	height: 50%;
	text-align: center;
	 font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	background-color: #303030;
	color: 		#D8D8D8;
	
}
.footer {
	width: 100%;
	height:	25px;
	text-align: center;
	
}

.name {
text-align: left;
font-weight: 600;

}
a{
	color:black;
}
a:hover {
	color: black;
  background-color: rgba(150,150,150,.5);
}
.section {
	background-color: rgba(150,150,150,.5);
	width: 50%;
	min-width: 360px;
	max-width: 900px;
	border: 1px solid black;
   margin: auto;
   text-align: center;
   margin-bottom: 30px;
   
}
  
 section {
	  margin: auto;
   text-align: center;
       margin: auto;
    text-align: center;
    width: 75%;
    min-width: 360px;
    max-width: 900px;
    border: 1px solid black;	
   }
.description {
	width: 50%;
	min-width: 360px;
	max-width: 900px;
    text-align: center;
	margin: auto;
	margin-bottom: 30px;
	}
.position {
	background-color: rgba(150,150,150,.5);
	width: 50%;
	min-width: 360px;
	max-width: 900px;
	border: 1px solid black;
    text-align: center;
	margin: auto;	
}

.company {
	 margin: auto;
   text-align: center;
}

.stuff {
	 margin: auto;
   text-align: center;
}
.current {
	background-color: rgba(150,150,150,.5);
}



	